body{
  margin: 0;
  border: 6px solid #bd8dbd;
}
@font-face {
  font-family: Josefin_Rg;
  src: url(Fonts/JosefinSlab-Regular.ttf);
}
@font-face {
  font-family: Josefin_Sb;
  src: url(Fonts/JosefinSlab-SemiBold.ttf);
}
@font-face {
  font-family: Josefin_B;
  src: url(Fonts/JosefinSlab-Bold.ttf);
}

header{
  width: 100%;
  height: 5rem;
  background-color: #bef0bd;
}
